<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>19/11/27 22:27:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.TC1()[pri:0, instance:com.google.test.HomeTest@57baeedf]">TC1</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/11/27 22:27:34</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.TC2()[pri:0, instance:com.google.test.HomeTest@57baeedf]">TC2</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
